// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Montserrat:200,300,400|Roboto:300,400');
// Define fonts for body and headers
$body-font: "Roboto", sans-serif;
$headers-font: 'Montserrat', sans-serif;

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;

}
  a:hover, a:focus {
    text-decoration: none !important;
  }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.no-space {
  letter-spacing: 2px;
}

.bold {
  font-weight: bolder;
}

.body-text {
  font-family: "Roboto", sans-serif;
  text-transform: none;
  font-size: 16px;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
