// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Scope+One');
// Define fonts for body and headers
$body-font: "Lora", "sans-serif";
$headers-font: "Montserrat", "sans-serif";

h1, h2, h3, h4, h5 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;

}

a {
  font-family: "Montserrat", "sans-serif";
  font-weight: 300;
  text-decoration: none;
  color: black;
}

p {
  font-weight: lighter;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
