body.dashboard {
  min-height: 90vh;
  background-color: white;

}

#dashboard {

  width: 80%;
  margin: 0 auto;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    width: 71%;
    margin: auto;
}

.margin-top {
  margin-top: 10vh;
}
// .dashboard-home {@@
//   align-items: center;
// }

.img-fluid {
  min-height: 42%;
}

.waiting-message {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 9%;
  margin-top: 7%;
}

.notice-message {
    background-color: #4f4f4f66;
    margin-bottom: -40.5px;
    text-align: center;
    font-size: 15px;
    color: white;
    a {
      color: white;
      font-weight: 900;
    }
}

.nav-item {
  font-size: 23px;
}

.tab-item {
  font-size: 15px;
}

.active {
  font-weight: 900;
}

.dashboard-div {
  margin-bottom: 20%;
}

.all-jobs {
  padding-bottom: 2vh;
}

