body.dashboard {
  min-height: 90vh;
  background-color: white;

}

#dashboard {

  width: 80%;
  margin: 0 auto;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 71%;
    margin: auto;
}

@media (max-width: 800px)  {
  .dashboard-header {
    width: 90%;
    margin-top: 5vh;
  }
}

.margin-top {
  margin-top: 10vh;
}


.img-fluid {
  min-height: 42%;
}

.waiting-message {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 4vh;
    padding-bottom: 9vh;
}

.notice-message {
    background-color: #4f4f4f66;
    margin-bottom: -40.5px;
    text-align: center;
    font-size: 15px;
    color: white;
    a {
      color: white;
      font-weight: 900;
    }
}

.nav-item {
  font-size: 23px;
  font-weight: 100;
}

.tab-item {
  font-size: 15px;
}

.active {
  font-weight: 900;
}

.dashboard-div {
  margin-bottom: 20%;
}

.no-job {
    border: 1px solid #fac2a6;
    background: #f36e226b;
    color: #ffffff;
    text-align: center;
    /* width: 46vh; */
    margin: auto;
    margin-top: 1vh;
    /* padding: 0vh; */
    font-weight: bolder;
    font-family: "Montserrat", "sans-serif";
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1vh;
}


