// Specific CSS for your home-page

.job-samples {
  background-color: white;
  padding-bottom: 50px;
}

.centered {
  text-align: center;
}


.padded-title {
  padding-top: 50px;
  padding-bottom: 15px;
}

h2 {
    margin-top: 0px;
}
