// Specific CSS for your home-page

.job-samples {
  background-color: white;
  padding-bottom: 120px;
}

// Specific CSS for the colored cards / argument boxes: Why Joining Us?


.argument-box {
  background-color: red;
  padding-top: 4%;
  padding-right: 8%;
  padding-left: 8%;
  height: 300px;
  width: 80%;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 39px 134px -28px rgba(0,0,0,0.6);
    font-family: "Montserrat", "sans-serif";
}

.argument:hover {

}

.why-title {
  letter-spacing: 0px;
  font-weight: 600;
  margin-bottom: 30px;
}
.card-1 {
  background-color: #ffe2e2;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-2 {
  background-color: #e2e2e2;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-3 {
  background-color: #ffe3cb;
  height: 230px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}


.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 200;

}

#arguments-joining {
  margin-right: 15%;
  margin-left: 15%;
}

// Carousel arrows  overriding

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* turn off bootstrap default svg chevrons */
  background-image: none;

  /* override bootstraps fixed size */


  /* set the size and color of the FontAwesome chevrons */
  font-size: 1.5rem;
  color: #909090;

  /* extend FontAwesome */
  @extend .fa;
}
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-caption {
  /* add a text shadow to the chevrons and caption (inner text) to make them visible on white backgrounds */
  text-shadow: 0 0 1.8rem #0000007a;
}
.carousel-control-prev-icon {
  /* extend FontAwesome left chevron*/
  @extend .fa-chevron-left;
}
.carousel-control-next-icon {
  /* extend FontAwesome right chevron*/
  @extend .fa-chevron-right;
}
.carousel-indicators li {
  /* add a box shadow to the indicators to make them visible on white backgrounds */
  box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.5);
}


// Responsiveness

.dropdown-menu {
  padding: 12px;

  a {
  color: black;
  text-transform: uppercase;
  line-height: 2;
  font-size: 15px;
 }
  a:hover {
    color: gray;
  }
}

@media (max-width: 800px) {
    h3.upperlined {
      font-size: 20px;
      margin-right: 5vh;
      margin-left: 5vh;
      font-weight: lighter;
    }
    .home-title {
      font-size: 25px;
    }

    .home-title.opportunities {
      margin-top: 25vh;
    }

    #arguments-joining {
      margin-right: 2%;
      margin-left: 2%;
    }

    .argument-box {
      background-color: red;
      width: 100%;
      border-radius: 4px;
      color: white;
      box-shadow: 0px 39px 134px -28px rgba(0,0,0,0.6);
      font-family: "Montserrat", "sans-serif";
    }

    .card-1 {
      background-color: #ffe2e2;
      margin: auto;
      margin-bottom: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .card-2 {
      background-color: #e2e2e2;
      margin: auto;
      margin-bottom: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .card-3 {
      background-color: #ffe3cb;
      margin: auto;
      margin-bottom: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      text-align: center;
    }
.card:hover {
  transform: scale(1);
}
.carousel-inner {
  padding-bottom: 22%;
  margin-bottom: -120px;
}

  }

@media (max-width: 800px) {
   .home-list {
      margin-right: 5vh;
      margin-left: 5vh;
      margin-bottom: 3vh;
    }
  }

  // Down blue arrow

.demo {
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo::hover {
  opacity: .5;
}

#section07 span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #0096A8;
  border-bottom: 3px solid #0096A8;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 6s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
