.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.grid-bordered {
  border: 2px solid #e0e0e0;
  padding: 21px 25px;
  background-color: white;
}

.grid-first-column {
  grid-row: 1 / span 2;

}

.grid-second-column-first {
  grid-row: 1 / span 1;
}

.grid-second-column-second {
  grid-row: 2 / span 1;
}

.bottom-buttons {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.values-list {
  text-align: left;

  li {
    line-height: 20px;
  }
}

.skills-list {
  border: 1px #e4e4e4 solid;
  padding: 1px;
  font-family: "Montserrat", "sans-serif";
  background-color: #e4e4e4;
  color: black;
  font-weight: 300;
  font-size: 14px;

}

.values {
  font-size: 24px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.salary {
  text-align: center;
  font-size: 23px;
  margin-top: -10px;
}

.justified-text {
  text-align: justify;
  text-justify: inter-word;
}

.job-photo {
  display: flex;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.favorite-block {
    margin-left: 4vh;

}

