.heading-box {
margin-top: 50px;

}

.profile-img {
  margin-top: 50px;
}

.profile-box {
  margin-top: 50px;
  padding: 10%;
  background-color: #fff;
  text-align: left;
}

.profile-box ul {
text-align: left;
}
