.heading-box {
margin-top: 50px;

}

.profile-img {
  margin-top: 50px;
}

.profile-box {
  padding: 10%;
  background-color: white;
  text-align: left;
  border: 1px solid #ffeee5;
  margin-bottom: 5vh;
}

.profile-box ul {
text-align: left;
}

.profile-header {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 71%;
    margin: auto;
}

.separator {
  margin-top: 4vh;
    margin-bottom: 4vh;
    border: 0;
    border-top: 1px solid #bfbfbf;
    margin-right: 30vh;
    margin-left: 30vh;
}

.profile-title {
  letter-spacing: 0px;
}

.profile-buttons-container {
  width: 60%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .profile-buttons-container {
    width: 70%;
}
}

@media (max-width: 750px) {
  .profile-buttons-container {
    width: 80%;
}
}

@media (max-width: 650px) {
  .profile-buttons-container {
    width: 95%;
}
}

// Buttons container for profile page when XS screen size

.profile-buttons-container-small {
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .values-skills {
    padding-right: 5vh;
    padding-left: 5vh;
  }
}
