.login-form {
  margin-right: 30vh;
  margin-left: 30vh;
  margin-bottom: 5%;
  margin-top: -5vh;
}

.log-in-button {
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.forgot-password {
    height: 70vh
  }
