.form-skills  {
  margin-top: 8%;
  margin-bottom: 5%;
}

.underlined-thin {
   padding-bottom: 5px;
  box-shadow: inset 0px -15px 0px 0px $light-orange;
}


.skills-container {
  padding-bottom: 2%;
      margin-right: 20%;
  margin-left: 20%;

}

.btn-group {
  justify-content: space-around;
}

