<div class="row justify-content-center">
  <div class="col-xs-11 col-sm-11 col-md-8">

    <div class="login-form">

      <h4 class="centered login-title">Forgot your password?</h4>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true, label: 'Enter your email address:', placeholder: 'Email' %>
    <div class="small-text">You will receive an email with a link to reset your password. <br> If you don't see the email, check your spam folder.</div>

    <div class="centered">
    <%= f.button :submit, "Reset my Password", class: "btn-orange log-in-button centered" %>
  </div>
    <% end %>

  </div>
</div>




