<div class="login-form">
  <h2 class="centered small-padded-title">Forgot your password?</h2>

<div class="login-form">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="login-form-bot centered">
  <div class="form-actions log-in-button">
    <%= f.button :submit, "Reset my Password", class: "btn-orange" %>
  </div>
<% end %>
</div>
</div>
</div>

