<ul class="container footer-container">
  <li class="underline" id="footer-left"> <%= link_to "Back to the top", root_path %></li>
  <div class="social-icons">
    <li><a href="https://www.facebook.com/findmyflock/" target="_blank" class="social-icon"> <i class="fab fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/findmyflock" target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/flockacceleratingwomenintech/" target="_blank" class="social-icon"> <i class="fab fa-linkedin"></i></a></li>
  </div>

  <li class="underline" id="footer-right-padding"> <a href="http://www.findmyflock.com/about.html" target="_blank" > About </a></li>
  <li class="underline" id="footer-right-padding"> <a href="http://www.findmyflock.com/contact.html" target="_blank"> Contact Us </a></li>

</ul>


