<ul class="container footer-container">
    <li id="footer-left"> <%= link_to "Back to the top", root_path %></li>
    <div class="social-icons">
    <li><a href="" class="social-icon"> <i class="fab fa-facebook"></i></a></li>
    <li><a href="" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
    <li><a href="" class="social-icon"> <i class="fab fa-google-plus-g"></i></a></li>
    </div>
    <li class="underline" id="footer-right-padding"> <%= link_to "Contact Us", user_path(current_user) %></li>
    <li class="underline" id="footer-right-padding"><%= link_to "Terms and Policy", dashboard_index_path %></li>
</ul>


