.avatar {
  width: 100px;
  border-radius: 50%;
  }

.profile-img-show{
 padding: 10%;
 width: 100%;
 margin: 0 auto;
 text-align: left;
 padding-left: 35%;
 margin-top: 50px;
}

.avatar-lg {
  width: 150px;
  border-radius: 50%;

}

.avatar-edit {
  padding-top: 2%;
  margin-bottom: 0;
  width: 80px;
  padding-left: 5%;
  width: 50px;
}

