.banner {
  display: flex;
  // height: calc(85vh - 15vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: 50px;
  font-weight: bolder;
  color: black;

}

.secondline {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 12vh;

}


.underlined {
   padding-bottom: 5px;
  box-shadow: inset 0px -31px 0px 0px $light-orange;
}

.black-text {
  color: black;
      margin-right: 5vh;
    margin-left: 5vh;
}

.upperlined {
 border-top: 1px solid #afafaf;
  padding-top: 10px;
  margin-right: 20vh;
  margin-left: 20vh;
  font-weight: lighter;
}

.underlined-medium {
   padding-bottom: 16px;
  box-shadow: inset 0px -8px 0px 0px #ffe8dd;
}

.boxed {
  box-shadow: inset 0px -25px 0px 0px #ffd8c5;
}

 .home-list {
  text-align: center;
  margin: auto;
  margin-top: 28vh;
}

