.btn {
  border: 1px solid black;
  padding: 5px 25px;
  color: black;

}
  .btn:hover {
  background-color: $gray;
  color: white;
  }

.underline a:hover {
  // border-bottom: 1px solid black;
  padding-bottom: 5px;
  box-shadow: inset 0px -12px 0px 0px $light-orange;

}
