// Classic button white becoming black on hovering

.btn {
  border: 1px solid black;
  padding: 5px 25px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}


.btn.linkedin {
  background-color: #3F72A0;
  border: 1px solid #3F72A0;
  color: white;
  font-weight: bolder;
}

.btn.linkedin:hover {
  background-color: #245480;
}

.btn.logbutton {
  width: 70%;
  font-size: 12px;
}

  .btn:hover {
  background-color: $gray;
  color: white;
  }

.btn.apply {
  border: 1px solid $light-orange;
  padding: 5px 25px;
  background-color: $light-orange;
  color: white;
  margin-right: 4vh;
}

.btn.apply:hover {
  background-color: #ff8246;
  border: 1px solid #ff8246;
  color: white;
}

.btn.cancel {
  border: 1px solid $gray;
  padding: 5px 25px;
  color: white;
  background-color: $gray;
}

.btn.cancel:hover {
  background-color: #777777;
  border: 1px solid #777777;
  color: white;
}


// Home Page orange buttons to see matches, create an account, edit your profile.


.btn-orange {
  padding: 10px 15px;
  height: 45px;
  width: 140px;
  margin: 1vh;
  border: 1px solid $light-orange;
  transition: 0.1s background-color ease-in-out;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
  background-color: $light-orange;
  font-weight: 900;
  font-family: "Montserrat", "sans-serif";
  font-size: 15px;
  transition: all 0.6s ease 0s;
}

  .btn-orange.joinbutton {
  padding: 10px 15px;
  height: 45px;
  width: 140px;
  margin: 1vh;
  border: 1px solid #67bacb;
  transition: 0.1s background-color ease-in-out;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
  background-color: #67bacb;
  font-weight: 900;
  font-family: "Montserrat", "sans-serif";
  font-size: 15px;
  transition: all 0.6s ease 0s;
}

  .btn-orange.joinbutton.cta-end-hp {
    padding: 10px 15px;
    height: 45px;
    width: 415px;
    margin: 4vh;
    margin-top: 11vh;
    border: 1px solid #ffa67b;
    transition: 0.1s background-color ease-in-out;
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    background-color: #ffa67b;
    font-weight: 900;
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    transition: all 0.6s ease 0s;
}


.btn-orange:hover {
  background-color: #ff935f;
  border: 1px solid #ff935f;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
}

.btn-orange.joinbutton:hover {
  background-color: #08b2d4;
  border: 1px solid #08b2d4;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
}


.dropdown-toggle::after {
    display: none;
}



.btn-dropdown {
  margin-right: 2vh;
  border: 0px solid white;
}

.margin-left {
  margin-left: auto;
}

.btn.profile-small {
  color: #8e8e8e;
  font-weight: 900;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  padding: 5px 10px;
  background: #ffffff;
  border: 1px solid #ffeee5;
}

.btn.profile-small:hover {
  border: 1px solid #ffc9aa;
  color: #636363
}

  .btn-wide {
    width: 100%;
  }

   .active-btn {
     background-color: $gray;
    color: white;
  }

.registration-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .next-btn {
    font-size: 15px;
  }
}
