.card {
  width: 25rem;
  height: 40rem;
  margin-top: 10px;
  margin-bottom:  20px;

  a {
    text-decoration: none;
    color: black;
  }
}


  .card-home {
  width: 25rem;
  height: 40rem;
  margin: auto;
  a {
    text-decoration: none;
    color: black;
  }
  }



.card-title {
  font-size: 25px;
  line-height: 50px;
}



.cards-container {
  position: relative;
  justify-content: space-around;
}

.company {
  font-weight: bolder;
}

.location {
  font-weight: lighter;
  font-size: 15px;
}


.card-sample {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


  // Specific to the dashboard cards

#dashboard-body {
          background-color: white;

}

.fav {
  color: gray;

}

.unfav {
  color: red;

}

.saveme {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}


.dashboard-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

#dashboard-photo {
  border-radius: 10px;

  img {
  height: 50px;
  width: 50px;
}
}
