
.container {
  width: 100%;
  margin-right: none;
  margin-left: none;
  padding-left: 0px;
  padding-right: 0px;

}

.footer-container {
  width: 100%;
  height: 12vh;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #3c3b3a;
  padding: 3%;
  margin-top: 40px;
  margin-bottom: 0px;
  position: absolute;
  bottom: -75px;

  a {
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    transition: 0.5s ease all .3s;
    position: relative;
    text-decoration: none;
    padding-bottom: 8px;

   &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: -1px; right: 3px;
      height: 2px;
      background-color: #6d6d6d;
    }
    &:before {
      opacity: 0;
      transform: translateY(- $distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }

    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }
}

// LINKS ON THE RIGHT SIDE

#footer-right-padding {
  margin-right: 30px;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0;
  display: block;
}

#footer-right {
    font-size: 11px;
    text-transform: uppercase;
    padding: 0;
}

// LOGO

#footer-left {
  font-size: 11px;
  text-transform: uppercase;
  padding: 0;
  font-weight: bolder;
}


.footer-container ul {
  padding: 0;
  list-style: none;
  justify-content:center;
  text-align:center;
  }

.social-icons li {
  display: inline-block;
}

// .navbar-trans {
//   background: transparent; }

// SOCIAL MEDIA ICONS

.social-icons {
 margin-right: auto;
 margin-left: auto;
}

.social-icon {
  margin-right: 30px;
}


// Responsiveness

