.form-box {
  background-color: #fff;
  padding: 4% 7%;
  padding-bottom: 5%;
  overflow: visible;
  margin-bottom: 2%;
  margin-bottom: 5%;
  border: 1px solid #ddd;
}

.skill-form-box {
  background-color: #fff;
  padding: 4% 7%;
  padding-bottom: 2%;
  overflow: visible;
  margin-bottom: 2%;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.form-container {
  margin-top: 8vh;
    padding-bottom: 2%;
      margin-right: 20%;
  margin-left: 20%;
  margin-top: 8vh;
}

.cv-box {
  max-width: 100%;
}

a.nav-link {
   color: $gray;
}

.nav-tabs .nav-link:hover {
  background-color: $gray;
  color: white;

}

.nav-tabs .nav-link:hover {
 border-top: 1px solid #4F4F4F;

}

@media (max-width: 919px) {
  .form-tab {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .form-tab {
    font-size: 10px;
  }
}

.nav {
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: center;
}
.nav.nav-tabs {
  margin-bottom: 0px;
}


.nav-tabs {
  padding-top: 5%;
}


.form-check-label {
  padding-left: 30px;
}

.submit-btn {
  margin-left: 10px !important;
}

.btn.submit-btn.btn-wide {
  margin-left: 0;
  margin-bottom: 2.5%;
  margin-top: 3%;
}

.btn .active {
    background-color: #4F4F4F;
    color: white;
}

.skills-list li {
  display: block;
}

.form-box-buttons {
  position:absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1;
}

.form-text {
   font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
}

@media (max-width: 500px) {
  .form-text {
    font-size: 16px;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .form-box h4 {
    font-size: 16px;
  }

  .form-box p {
    font-size: 13px;
  }

  .form-control {
    font-size: 15px;
  }

  .cvupload {
        font-family: lora;
    letter-spacing: 0px;
    color: #828282;
    text-transform: capitalize;
    font-weight: bolder;
        padding-bottom: 0px;
  }
}


