.form-box {
  background-color: #fff;
  padding: 5% 10%;
  margin-bottom: 5%;

  height: 55vh;
}

.cv-box {
  max-width: 100%;
}

a.nav-link {
   color: $gray;
}

.nav-tabs .nav-link:hover {
  background-color: $gray;
  color: white;

}

.nav-tabs .nav-link:hover {
 border-top: 1px solid #4F4F4F;

}


.nav {
  margin-bottom: 55px;
}

.nav-tabs {
  padding-top: 10px;

}

.nav-tabs {
}

.form-check-label {
  padding-left: 30px;
}

.submit-btn {
  margin-left: 5%;
}


.btn .active {
    background-color: #4F4F4F;
    color: white;
}

.skills-list li {
  display: block;
}
