.form-box {
  background-color: #fff;
  padding: 10%;
  margin-bottom: 15%;
  margin-top: 5%;
  outline: 1px solid $gray;
}

.cv-box {
  max-width: 100%;
}

a.nav-link {
   color: $gray;

  &:hover {
    color: $orange;
  }
  &:visited {
    color: black;
  }
}
