.login-form {
  width: 80vh;
  margin: auto;
  padding-top: 50px
}

.login-form-bot {
  width: 80vh;
  margin: auto;
  text-align: center;
  align-items: center;
}

.log-in-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
