.login-form {
  width: 80vh;
  margin: auto;
  padding-top: 50px
}

.login-form-bot {
  width: 80vh;
  margin: auto;
  text-align: center;
  align-items: center;
}

.log-in-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-border {
  border: 1px solid #f1e3d1;
  width: 90vh;
  margin: auto;
  padding-bottom: 24px;
  background: #fffcf5;
}
.select2-container{
  width: 100% !important;
}
