.container.navbar-container {
  width: 100%;
  height: 12vh;
  display: flex;
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 3%;
  z-index: 1;
  margin-bottom: 0;

  a {
    text-decoration: none;
    letter-spacing: 5px;
  }
}

// LINKS ON THE RIGHT SIDE

#nav-right-padding {
  margin-right: 30px;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0;
  display: block;
  font-weight: 400;


  a {
  color: black
  }
}

#nav-right {
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
    a {
  color: black
  }
}

// LOGO

#nav-left {
  margin-right: auto;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;

    a {
  color: #68b9c6;
  font-weight: 300;
  }
}

#logo {
  color: #68b9c6
}

ul {
  padding: 0;
  list-style: none;
  }

.small-size {
  width: 40px;
  height: 40px;
  margin-left: 3%;
  margin-right: 3px;
}

.underline a:hover {
  // border-bottom: 1px solid black;
  padding-bottom: 5px;
  box-shadow: inset 0px -12px 0px 0px $light-orange;

}

.underline-logout a:hover {
  // border-bottom: 1px solid black;
  padding-bottom: 5px;
  box-shadow: inset 0px -12px 0px 0px #bfbfbf;
}


#nav-right.sign-up {
  padding: 10px 15px;
  border: 1px solid $light-orange;
  transition: 0.1s background-color ease-in-out;
  text-decoration: none;
  letter-spacing: 5px;
  background-color: $light-orange;

  a {
    color: white;
    font-size: 14px;
    font-weight: bolder;
  }
}

#nav-right.sign-up:hover {

  background-color: #ff7e40;
  border: 1px solid #ff7e40;
  text-decoration: none;
    color: white;
    letter-spacing: 5px;

a {
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
}
}

// .navbar-trans {
//   background: transparent; }
