.container.navbar-container {
  width: 100%;
  height: 12vh;
  display: flex;
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 3%;
  z-index: 1;
  margin-bottom: 0;

  a {
    text-decoration: none;
    letter-spacing: 5px;
  }
}

// LINKS ON THE RIGHT SIDE

// Variables needed for the animation when hovering the navbar elements.

$red: #ff9279;
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

#nav-right-padding {
  margin-right: 30px;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0;
  display: block;
  font-weight: 400;

    a {
  color: black;
  transition: 0.5s ease all .3s;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;

   &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: -1px; right: 0;
      height: 2px;
      background-color: $light-orange;
    }
    &:before {
      opacity: 0;
      transform: translateY(- $distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }

    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }
}



#nav-right {
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
    a {
  color: black;
  transition: 0.5s ease all .3s;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;

   &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -1px; right: 0;
    height: 2px;
    background-color: $light-orange;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }

  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}
}





// LOGO

#nav-left {
  margin-right: auto;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;

    a {
  color: #68b9c6;
  font-weight: 300;
  }
}

#logo {
  color: #68b9c6
}

ul {
  padding: 0;
  list-style: none;
  }

.small-size {
  width: 40px;
  height: 40px;
  margin-left: 3%;
  margin-right: 3px;
}


#nav-right.sign-up {
  padding: 10px 15px;
  border: 1px solid $light-orange;
  transition: 0.3s background-color ease-in-out;
  text-decoration: none;
  letter-spacing: 5px;
  background-color: $light-orange;
  a {
    color: white;
    font-size: 14px;
    font-weight: bolder;
  }
}

#nav-right.sign-up:hover {

  background-color: #ff7e40;
  border: 1px solid #ff7e40;
  text-decoration: none;
    color: white;
    letter-spacing: 5px;

a {
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
}
}

// .navbar-trans {
//   background: transparent; }
