.container {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  a {
    text-decoration: none;
      color: black
  }
  a:hover {
        text-decoration: none;
  }
}

#nav-right-profile {
  margin-right: 30px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
    display: block;
}

#nav-right-dashboard {
  margin-right: 30px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
    display: block;
}

#nav-right-logout {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
    display: block;
}

#logo {
  margin-right: auto;
  font-weight: bolder;
  color: black;
  font-size: 11px;
    letter-spacing: 5px;
    padding: 0;


}

ul {
  padding: 0;
  list-style: none;
  }

// .navbar-trans {
//   background: transparent; }
