.centered {
  text-align: center;
}

.no-underline a:hover a:focus{
  text-decoration: none !important;
}

.padded-title {
  padding-top: 75px;
  padding-bottom: 30px;
}

.small-padding-top {
  padding-top: 2vh;
}

.small-padding-bot {
  padding-bottom: 2vh;
}

.small-padded-title {
  padding-top: 40px;
  padding-bottom: 53px;
}

.small-padded-text {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
    margin-top: 0px;
    font-family: "Roboto Slab", "serif";
    text-transform: capitalize;
}

.top-padding-text {
  padding-top: 2vh;
}

@media (max-width: 575px) {
  .top-padding-text-limited {
    padding-top: 2vh;
  }
}

.home-title {
  margin-top: 17vh;
  margin-right: 10%;
  margin-left: 10%;
}

.negative-padding {
  margin-top: 15vh;
}

.profile-sponsorship {
  font-size: 13px;
  color: #8a8a8a;
}
