.centered {
  text-align: center;
}


.padded-title {
  padding-top: 75px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 40px;

}

.small-padded-title {
  padding-top: 40px;
  padding-bottom: 53px;
  font-weight: 600;
  font-size: 40px;


}

h2 {
    margin-top: 0px;
    font-family: "Roboto Slab", "serif";
    text-transform: capitalize;
}
