.centered {
  text-align: center;
}


.padded-title {
  padding-top: 75px;
  padding-bottom: 30px;
}

.bigger-title {
  font-weight: 600;
  font-size: 40px;
}

.small-padded-title {
  padding-top: 40px;
  padding-bottom: 53px;
}

.small-padded-text {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
    margin-top: 0px;
    font-family: "Roboto Slab", "serif";
    text-transform: capitalize;
}


.home-title {
  letter-spacing: 0px;
  font-size: 36px;
  margin: 0;
  font-weight: 300;
}

.profile-sponsorship {
  font-size: 13px;
  color: #8a8a8a;
}
