<body style="background-color: white">
  <div style="margin-right: 2vh; margin-left: 2vh;">

    <div style="padding-bottom:5vh">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 align-self-center">
          <h4 class="centered mx-auto" style="max-width:50vw">
            <div class="underlined-medium small-padded-title">Job Selection</div></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 justify-content-center align-self-center">
            <br>
            <p class="centered mx-auto" style="max-width: 70vw">Here are a few sample jobs you can find in our database. <br>
            If you want to see more, complete your profile and find the jobs that will match your skills and expected benefits!</p>

          </div>
        </div>
      </div>

      <!-- JOB SAMPLE NUMBER 1 -->

      <div class="job-section mx-auto">
        <h3 class="underlined-medium-blue centered small-padded-title mx-auto">ANDROID DEVELOPER</h3>
        <br>
        <h4 class="centered">GLOBAL EDUCATION NONPROFIT</h4>

        <div class="row justify-content-center">
          <div class="col-xs-11 col-sm-11 col-md-8">
            <h5 class="centered">REMOTE, SAN FRANCISCO BAY AREA</h5>
            <p class="small-padded-title justified-text">You'll help learners build mastery regardless of where they are, and regardless of whether they are accessing KA on the browser, on Android, or on iOS. You’ll create new, impactful ways for teachers and students to use online learning in the classroom. You’ll work on the content creation and translation tools that we rely on to expand our library of world-class educational content and bring it to an international audience. You'll help build cutting-edge infrastructure to enable students of all backgrounds to succeed on high-stakes assessments like the SAT and LSAT. Ultimately, you'll be part of helping millions of learners around the world unlock their full potential.</p>

            <!-- Values, skills and salary displayed on md and large screen sizes -->
            <div class="hidden-xs-down">
              <div class="grid grid-bordered">
                <div class="grid-first-column">
                  <div class="values">Values:</div>
                  <ul class="values-list">
                    <li>Lunch Provided</li>
                    <li>Unlimited Vacation</li>
                    <li>Trans-Inclusive Healthcare</li>
                    <li>Social Mission</li>
                    <li>401(k) Matching</li>
                    <li>Beach Within 60 Minutes</li>
                    <li>Professional Development Budget</li>
                    <li>Life Insurance</li>
                    <li>Vision Insurance</li>
                    <li>100%+ Covered Health InsuranceDental Insurance</li>
                    <li>80%+ Covered Health Insurance</li>
                    <li>401(k)</li>
                    <li>90+ Days Parental Leave</li>
                    <li>60+ Days Parental Leave</li>
                    <li>30+ Days Parental Leave</li>
                    <li>Equity</li>
                    <li>Office Dogs</li>
                  </ul>
                </div>

                <div class="grid-second-column-first">
                  <div class="values" style="text-align: center">Skills needed:</div>
                  <ul class="skills-list centered">
                    <li>Android</li>
                    <li style="background-color: #ffffff;color:black">Strong</li>
                  </ul>
                </div>

                <div class="grid-second-column-second">
                  <div class="values small-padded-title" style="text-align: center">Salary match?</div>
                  <div class="centered" style="font-size: 18px">Create your account to know if your salary expectations match this offer.</div>
                  <div class="values small-padded-title" style="text-align: center">US work sponsorship:</div>
                  <div class="centered" style="font-size: 18px">The company cannot provide US work sponsorship.</div>
                </div>


              </div>
            </div>

            <!-- Values, skills and salary displayed on xs and small screen sizes -->
            <div class="hidden-sm-up">
              <div class="grid-bordered">
               <div class="values">Values:</div>
               <ul class="values-list">
                <li>Lunch Provided</li>
                <li>Unlimited Vacation</li>
                <li>Trans-Inclusive Healthcare</li>
                <li>Social Mission</li>
                <li>401(k) Matching</li>
                <li>Beach Within 60 Minutes</li>
                <li>Professional Development Budget</li>
                <li>Life Insurance</li>
                <li>Vision Insurance</li>
                <li>100%+ Covered Health InsuranceDental Insurance</li>
                <li>80%+ Covered Health Insurance</li>
                <li>401(k)</li>
                <li>90+ Days Parental Leave</li>
                <li>60+ Days Parental Leave</li>
                <li>30+ Days Parental Leave</li>
                <li>Equity</li>
                <li>Office Dogs</li>
              </ul>

              <div class="values small-padded-title" style="text-align: center">Skills needed:</div>

              <ul class="skills-list centered">
                <li>Android</li>
                <li style="background-color: #ffffff;color:black">Strong</li>
              </ul>

              <div class="values small-padded-title" style="text-align: center">Salary match?</div>
              <div class="centered" style="font-size: 18px">Create your account to know if your salary expectations match this offer.</div>

              <div class="values small-padded-title" style="text-align: center">US work sponsorship:</div>
              <div class="centered" style="font-size: 18px">The company cannot provide US work sponsorship.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center text-center">
    <div class="bottom-buttons col-8">
      <div id="app-link">
        <%= link_to 'Join us to apply', new_registration_registration_path, class: "btn btn-orange joinbutton profile-button", style: "width: 226px" %>

      </div>
    </div>
  </div>
  <!-- JOB SAMPLE NUMBER 2 -->

  <div class="job-section mx-auto">

    <h3 class="underlined-medium-blue centered small-padded-title mx-auto"">FULL-STACK DEVELOPER</h3>
    <br>
    <h4 class="centered">NON-PROFIT MAKING VOTING SEAMLESS
    </h4>

    <div class="row justify-content-center">
      <div class="col-xs-11 col-sm-11 col-md-8">
        <h5 class="centered">REMOTE</h5>
        <p class="small-padded-title justified-text">We believe voting should fit the way we live. To that end, we build technology for both voters and election administrators that simplifies the process and ensures that no voter should ever have to miss an election. We pair program, collaborate with product managers, and make sure our efforts deliver value to voters. We rotate roles and projects on our team so that everyone gets a variety of experience and working relationships and can bring their unique strengths to as wide a swath of our work as possible.</p>

        <!-- Values, skills and salary displayed on md and large screen sizes -->
        <div class="hidden-xs-down">
          <div class="grid grid-bordered">
            <div class="grid-first-column">
              <div class="values">Values:</div>
              <ul class="values-list">
                <li>Social Mission</li>
                <li>Mountain Within 60 Minutes</li>
                <li>Beach Within 60 Minutes</li>
                <li>Unlimited Vacation</li>
                <li>Professional Development Budget</li>
                <li>Life Insurance</li>
                <li>Vision Insurance</li>
                <li>Dental Insurance</li>
                <li>401(k) Matching</li>
                <li>Flexible Hours</li>
                <li>30+ Days Parental Leave</li>
                <li>Remote</li>
                <li>100%+ Covered Health Insurance</li>
                <li>80%+ Covered Health Insurance</li>
                <li>401(k)</li>
              </ul>
            </div>

            <div class="grid-second-column-first">
              <div class="values" style="text-align: center">Skills needed:</div>
              <ul class="skills-list centered">
                <li>Clojure</li>
                <li style="background-color: #ffffff;color:black">Gaining Competency</li>
              </ul>
            </div>

            <div class="grid-second-column-second">
              <div class="values small-padded-title" style="text-align: center">Salary match?</div>
              <div class="centered" style="font-size: 18px">Create your account to know if your salary expectations match this offer.</div>
              <div class="values small-padded-title" style="text-align: center">US work sponsorship:</div>
              <div class="centered" style="font-size: 18px">The company cannot provide US work sponsorship.</div>
            </div>


          </div>
        </div>

        <!-- Values, skills and salary displayed on xs and small screen sizes -->
        <div class="hidden-sm-up">
          <div class="grid-bordered">
           <div class="values">Values:</div>
           <ul class="values-list">
            <li>Social Mission</li>
            <li>Mountain Within 60 Minutes</li>
            <li>Beach Within 60 Minutes</li>
            <li>Unlimited Vacation</li>
            <li>Professional Development Budget</li>
            <li>Life Insurance</li>
            <li>Vision Insurance</li>
            <li>Dental Insurance</li>
            <li>401(k) Matching</li>
            <li>Flexible Hours</li>
            <li>30+ Days Parental Leave</li>
            <li>Remote</li>
            <li>100%+ Covered Health Insurance</li>
            <li>80%+ Covered Health Insurance</li>
            <li>401(k)</li>
          </ul>

          <div class="values small-padded-title" style="text-align: center">Skills needed:</div>

          <ul class="skills-list centered">
            <li>Clojure</li>
            <li style="background-color: #ffffff;color:black">Gaining Competency</li>
          </ul>

          <div class="values small-padded-title" style="text-align: center">Salary match?</div>
          <div class="centered" style="font-size: 18px">Create your account to know if your salary expectations match this offer.</div>

          <div class="values small-padded-title" style="text-align: center">US work sponsorship:</div>
          <div class="centered" style="font-size: 18px">The company cannot provide US work sponsorship.</div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row justify-content-center text-center">
  <div class="bottom-buttons col-8">
    <div id="app-link">
      <%= link_to 'Join us to apply', new_registration_registration_path, class: "btn btn-orange joinbutton profile-button", style: "width: 226px" %>

    </div>
  </div>
</div>

<!-- JOB SAMPLE NUMBER 3 -->

<div class="job-section mx-auto">


  <h3 class="underlined-medium-blue centered small-padded-title mx-auto"">SENIOR JAVASCRIPT ENGINEER</h3>
  <br>
  <h4 class="centered">BLOGGING PLATFORM</h4>

  <div class="row justify-content-center">
    <div class="col-xs-11 col-sm-11 col-md-8">
      <h5 class="centered">REMOTE</h5>
      <p class="small-padded-title justified-text">This full-remote team works from all over the world. Chat rooms, Slack, and an annual 7 day trip to somewhere exotic keep everyone together. The company can cherry-pick employees with all their perks, so they prioritize the most collaborative and communicative people in the world (bonus if you're good with .gifs).</p>

      <!-- Values, skills and salary displayed on md and large screen sizes -->
      <div class="hidden-xs-down">
        <div class="grid grid-bordered">
          <div class="grid-first-column">
            <div class="values">Values:</div>
            <ul class="values-list">
              <li>Mountain Within 60 Minutes</li>
              <li>Beach Within 60 Minutes</li>
              <li>Unlimited Vacation</li>
              <li>Professional Development Budget</li>
              <li>Life Insurance</li>
              <li>Vision Insurance</li>
              <li>Dental Insurance</li>
              <li>401(k) Matching</li>
              <li>Flexible Hours</li>
              <li>30+ Days Parental Leave</li>
              <li>Remote</li>
              <li>80%+ Covered Health Insurance</li>
              <li>401(k)</li>
            </ul>
          </div>

          <div class="grid-second-column-first">
            <div class="values" style="text-align: center">Skills needed:</div>
            <ul class="skills-list centered">
              <li>Javascript</li>
              <li style="background-color: #ffffff;color:black">Strong</li>
              <li>Python</li>
              <li style="background-color: #ffffff;color:black">Gaining Competency</li>
            </ul>
          </div>

          <div class="grid-second-column-second">
            <div class="values small-padded-title" style="text-align: center">Salary match?</div>
            <div class="centered" style="font-size: 18px">Create your account to know if your salary expectations match this offer.</div>
            <div class="values small-padded-title" style="text-align: center">US work sponsorship:</div>
            <div class="centered" style="font-size: 18px">The company cannot provide US work sponsorship.</div>
          </div>


        </div>
      </div>

      <!-- Values, skills and salary displayed on xs and small screen sizes -->
      <div class="hidden-sm-up">
        <div class="grid-bordered">
         <div class="values">Values:</div>
         <ul class="values-list">
          <li>Mountain Within 60 Minutes</li>
          <li>Beach Within 60 Minutes</li>
          <li>Unlimited Vacation</li>
          <li>Professional Development Budget</li>
          <li>Life Insurance</li>
          <li>Vision Insurance</li>
          <li>Dental Insurance</li>
          <li>401(k) Matching</li>
          <li>Flexible Hours</li>
          <li>30+ Days Parental Leave</li>
          <li>Remote</li>
          <li>80%+ Covered Health Insurance</li>
          <li>401(k)</li>
        </ul>

        <div class="values small-padded-title" style="text-align: center">Skills needed:</div>

        <ul class="skills-list centered">
          <li>Javascript</li>
          <li style="background-color: #ffffff;color:black">Strong</li>
          <li>Python</li>
          <li style="background-color: #ffffff;color:black">Gaining Competency</li>
        </ul>

        <div class="values small-padded-title" style="text-align: center">Salary match?</div>
        <div class="centered" style="font-size: 18px">Create your account to know if your salary expectations match this offer.</div>

        <div class="values small-padded-title" style="text-align: center">US work sponsorship:</div>
        <div class="centered" style="font-size: 18px">The company cannot provide US work sponsorship.</div>
      </div>
    </div>

  </div>
</div>
</div>

<div class="row justify-content-center text-center">
  <div class="bottom-buttons col-8">
    <div id="app-link">
      <%= link_to 'Join us to apply', new_registration_registration_path, class: "btn btn-orange joinbutton profile-button", style: "width: 226px" %>

    </div>
  </div>
</div>
</div>
</div>
</body>
